/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --purple: #79357E;
    --white: #F1F0F0;
    --grey: #C0C0C0;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45;
}

.position-statement p {
	font-size: 1.25rem;
	font-style: italic;
}

nav a {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.2px;
}

body {
    background-color: var(--grey);
    font-family: "Inter", sans-serif;
}

main {
    width: 100%;
    padding-top: 70px;
}

section, .bio, .position-statement, .contact {
    width: 90%;
    margin: 0 auto 1.5rem auto;
}

#logo {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

nav {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

#logo img {
    width: 48px;
    height: auto;
}

header nav {
    margin-left: 70px;
}

header nav ul {
    display: flex;
    gap: 1rem;
}

header nav ul li{
    background-color: var(--purple);
    padding: 15px 10px;
}

header nav a {
    text-decoration: none;
    color: var(--white);
}

.headshot img {
    width: 100%;
    max-width: 320px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.nameplate img {
    width: 100%;
    max-width: 330px;
    display: block;
    margin: 0.5rem auto 1.5rem auto;
}

.bio, .position-statement, .contact {
    background: var(--white);
    padding: 1rem;
    border-radius: 10px;
}

.cases {
    background: var(--white);
    width: 90%;
    margin: 1.5rem auto;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cases img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.cases a {
    color: var(--purple);
    text-decoration: underline;
}

img:not(.buh), .bio, .position-statement, .contact, .cases {
	border: 5px solid var(--purple);
}